* {
  margin: 0;
  padding: 0;
}

.actual-content {
  display: flex;
  flex-direction: row;
}

.button-list {
  display: flex;
  flex-direction: column;
  background: #191919;
  padding: 10px;
  padding-top: 10px;
}

.button-list > button {
  outline: none;
  border: none;
  background: #191919;
  border-radius: 5px;
  height: 40px;
  width: 150px;
  color: white;
  font-size: large;
  font-weight: 600;
  margin-left: 30px;
  margin-right: 30px;
  font-family: Tahoma;
}

.app {
  background: #191919;
  color: white;
  font-family: Tahoma;
  padding: 30px;
  flex-grow: 1;
  font-size: large;
}

.header {
  background: lightgreen;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header > img {
  height: 90px;
}

.header > h1 {
  font-family: Tahoma;
  color: #191919;
  margin-bottom: 10px;
}

.divider-line {
  color: lightgray;
  width: 1px;
  min-height: 86.7vh;
}

.redirect,
.block {
  background: #303030;
  padding: 3px;
  border-radius: 5px;
  color: white;
  /* margin: 5px; */
  font-family: monospace;
}

.code {
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  font-size: x-large;
  font-family: monospace !important;
}

.heading-break {
  height: 2px;
  background: lightgreen;
  margin-bottom: 10px;
}
